<h1>Would you like to Login?</h1>

<%= form_with url: '/login', local: true do |f| %>
  <%= f.label :username %><br>
  <%= f.text_field :username, autofocus: true %><br>

  <%= f.label :password %><br>
  <%= f.password_field :password %><br>

  <%= f.submit "Login" %>
<% end %>